<div ng-include="'partials/navbar'"></div>

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li ng-repeat="tab in sheets" ng-class="{active: isActive(tab.title)}">
				<a href ng-click="makeActive(tab)">{{tab.title}}</a>
			</li>
		</ul>

	</div>

<div class="row marketing">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td ng-repeat="key in dataTabs">
          {{key}}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data">
        <td ng-repeat="key in dataTabs">
          {{item[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-include="'partials/footer'"></div>